<?xml version="1.0" encoding="UTF-8"?>
<suite name="TDD Project Alt" paralele = "false">
    <test name="Test 1">
        <parameter name="platformName" value="Android"/>
        <parameter name="platformVersion" value="9.0"/>
        <parameter name="deviceName" value="emulator-5554"/>
        <classes>
            <class name="com.qa.tests.LoginTests"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->